<td data-title="{{dt.username}}">
  {{model.username}}
</td>
<td data-title="{{dt.repo_name}}">
  {{model.repo_name}}
</td>
<td data-title="{{dt.repo_tag}}">
  {{model.repo_tag}}
</td>
<td data-title="{{dt.operation}}">
  {{model.operation}}
</td>
<td data-title="{{dt.op_time}}">
  {{model.op_time}}
</td>
