<section class="header clearfix">
  <h1>Harbor 配置</h1>
</section>
<section>
{{#accordion-list-item
    title="Harbor 配置"
    detail="Harbor访问设置"
    expandOnInit=true
    showExpand=false
  }}
{{top-errors errors=harborAccountErrors}}
<div class="row">
  <div class="col span-12">
    <label class="acc-label">访问地址{{field-required}}</label>
    {{#input-or-display editable=harborConfigEditable value=harborConfig.url}}
      {{input type="text" class="form-control" value=harborConfig.url placeholder="访问Harbor 的 URL"}}
    {{/input-or-display}}
  </div>
  <div class="col span-6">
    <label class="acc-label">用户名{{field-required}}</label>
    {{#input-or-display editable=harborConfigEditable value=harborConfig.username}}
      {{input type="text" class="form-control" value=harborConfig.username placeholder="访问Harbor的用户名"}}
    {{/input-or-display}}
  </div>
  <div class="col span-6">
    <label class="acc-label">密码{{field-required}}</label>
    {{#input-or-display editable=harborConfigEditable value="***"}}
      {{input type="password" class="form-control" value=harborConfig.password placeholder="访问Harbor的密码"}}
    {{/input-or-display}}
  </div>
</div>
{{save-cancel save="saveHarboConfig" cancel="cancelHarborConfig" createLabel="imageRepoSection.adminConfigPage.saveHarborConfig" }}
{{/accordion-list-item}}
</section>
{{#if harborAccountValid}}
<section>
{{#accordion-list as | al expandFn | }}
  {{#accordion-list-item
      title="邮箱"
      detail="邮件服务器配置"
      expandAll=al.expandAll
      expand=(action expandFn)
  }}
  {{top-errors errors=emailServerConfigErrors}}
  <div class="row">
    <div class="col span-6">
      <label class="acc-label">邮件服务器{{field-required}}</label>
      {{#input-or-display editable=emailConfigEditble value=configurations.email_host}}
        {{input type="text" class="form-control" value=configurations.email_host placeholder="邮件服务器地址"}}
      {{/input-or-display}}
    </div>
    <div class="col span-6">
      <label class="acc-label">邮件服务器端口{{field-required}}</label>
      {{#input-or-display editable=emailConfigEditble value=configurations.email_port}}
        {{input type="text" class="form-control" value=configurations.email_port placeholder="邮件服务器端口"}}
      {{/input-or-display}}
    </div>
    </div>
    <div class="row">
    <div class="col span-6">
      <label class="acc-label">用户名</label>
      {{#input-or-display editable=emailConfigEditble value=configurations.email_username}}
        {{input type="text" class="form-control" value=configurations.email_username placeholder="用户名"}}
      {{/input-or-display}}
    </div>
    <div class="col span-6">
      <label class="acc-label">密码</label>
      {{#input-or-display editable=emailConfigEditble value="***"}}
        {{input type="password" class="form-control" value=configurations.email_password placeholder="密码"}}
      {{/input-or-display}}
    </div>
    </div>
    <div class="row">
    <div class="col span-6">
      <label class="acc-label">邮件来源{{field-required}}</label>
      {{#input-or-display editable=emailConfigEditble value=configurations.email_from}}
        {{input type="text" class="form-control" value=configurations.email_from placeholder="邮件来源"}}
      {{/input-or-display}}
    </div>
    </div>
   <div class="row">
    <div class="col span-6">
      <label class="acc-label">邮件 SSL{{field-required}}</label>
      <br>
      {{#input-or-display editable=emailConfigEditble value=configurations.email_ssl}}
        {{input type="checkbox" class="form-control" checked=configurations.email_ssl placeholder="邮件 SSL"}}
      {{/input-or-display}}
      <div class="text-info">启用SSL到邮件服务器连接。</div>
    </div>
    <div class="col span-6">
      <label class="acc-label">验证证书{{field-required}}</label>
      <br>
      {{#input-or-display editable=emailConfigEditble value=configurations.email_insecure}}
        {{input type="checkbox" class="form-control" checked=configurations.email_insecure placeholder="验证证书"}}
      {{/input-or-display}}
      <div class="text-info">确定是否要验证邮件服务器的证书。如果邮件服务器使用的是自签或者非信任证书，不要勾选此项。</div>
    </div>
  </div> 
  <div class="row">
    <div class="col span-6">
      {{save-cancel save="saveEmailConfig" cancel="cancelEmailConfig" createLabel="imageRepoSection.adminConfigPage.saveHarborConfig" class="pull-right"}}
    </div>
    <div class="col span-6">
      {{save-cancel save="testEmailServer" cancelDisabled=true createLabel="imageRepoSection.adminConfigPage.testEmailServer" class="pull-left"}}
    </div>
    
    
  </div>
{{/accordion-list-item}}

  {{#accordion-list-item
      title="系统"
      detail="系统设置"
      expandAll=al.expandAll
      expand=(action expandFn)
  }}
  {{top-errors errors=systemConfigErrors}}
  <div class="row">
    <div class="col span-4">
      <label class="acc-label">项目创建</label>
      <br>
      {{#input-or-display editable=systemConfigEditble value=configurations.project_creation_restriction}}
        {{new-select
          class="form-control input-sm"
          content=projectCreationOptions
          value=configurations.project_creation_restriction
        }}
      {{/input-or-display}}
      <div class="text-info">由令牌服务创建的令牌的过期时间（分钟），默认为30分钟。</div>
    </div>
    <div class="col span-4">
      <label class="acc-label">令牌过期时间（分钟）{{field-required}}</label>
      <br>
      {{#input-or-display editable=systemConfigEditble value=configurations.token_expiration}}
        {{input type="number" class="form-control" value=configurations.token_expiration placeholder="令牌过期时间（分钟）"}}
      {{/input-or-display}}
      <div class="text-info">由令牌服务创建的令牌的过期时间（分钟），默认为30分钟。</div>
    </div>
    <div class="col span-4">
      <label class="acc-label">仓库只读</label>
      <br>
      {{#input-or-display editable=systemConfigEditble value=configurations.read_only}}
        {{input type="checkbox" class="form-control" checked=configurations.read_only placeholder="仓库只读"}}
      {{/input-or-display}}
      <div class="text-info">用户在此模式下无法对仓库执行任何操作。</div>
    </div>
  </div>
  {{save-cancel save="saveSystemConfig" cancel="cancelSystemConfigy" createLabel="imageRepoSection.adminConfigPage.saveHarborConfig"}}
  {{/accordion-list-item}}

  {{#accordion-list-item
      title="标签"
      detail="标签管理"
      expandAll=al.expandAll
      expand=(action expandFn)
  }}

  {{#custom-labels labelParam=labelParam}}{{/custom-labels}}
  {{/accordion-list-item}}

 {{!-- {{#accordion-list-item
      title="垃圾清理"
      detail="垃圾清理配置"
      expandAll=al.expandAll
      expand=(action expandFn)
  }}

  {{#custom-gc-schedule}}{{/custom-gc-schedule}}
  {{/accordion-list-item}} --}}
{{/accordion-list}}
</section>
{{/if}}
