<section class="header clearfix">
  {{#if hasHarborServer}}
  <div class="right-buttons">
    <button class="btn btn-sm bg-primary right-divider-btn" {{action 'addNewProject'}}>新建项目</button>
  </div>
  {{/if}}

  <h1>项目</h1>

</section>
{{#if hasHarborServer}}
<section class="instances pt-5 pb-5">
  {{#custom-table
    classNames="grid sortable-table"
    headers=headers
    data=data
    selectData=selectData
    hasSelect=hasSelect
    availableActions=availableActions
    totalCount=model.totalCount
    primaryKeyName="project_id"
    remove=(action "promptDelete")
    search=(action "search")
    pageChange=(action "pageChange")
    sortChanged=(action "sortChanged")
    selectChange=(action "selectChange")
    as |sortable kind row dt|
  }}
  {{#if (eq kind "row")}}
      {{project-row model=row}}
    {{else if (eq kind "nomatch")}}
      <tr>
        <td
          colspan="{{sortable.fullColspan}}"
          class="text-center text-muted lacsso pt-20 pb-20"
        >
          {{t "imageRepoSection.projectsPage.table.noMatch"}}
        </td>
      </tr>
    {{else if (eq kind "norows")}}
      <tr>
        <td
          colspan="{{sortable.fullColspan}}"
          class="text-center text-muted pt-20 pb-20"
        >
          {{t "imageRepoSection.projectsPage.table.noData"}}
        </td>
      </tr>
    {{/if}}

  {{/custom-table}}
</section>
{{#custom-modal-confirm-delete confirm=(action 'confirmDelete') resources=selectedProjects modalVisible=showConfirmDeleteModal}}
{{/custom-modal-confirm-delete}}
{{#custom-modal-add-project modalVisible=showAddProjectModal saved=(action "refresh")}}{{/custom-modal-add-project }}
{{else}}
请先配置Harbor账号在访问此页面
{{/if}}
