<section class="header has-tabs clearfix pb-0">
  <ul class="tab-nav">
    <li>
      {{#link-to "image-repo.projects.detail.repositories" model.imageList.projectId}}镜像仓库{{/link-to}}
    </li>
    {{#if isAdmin}}
    <li>
      {{#link-to "image-repo.projects.detail.members" model.imageList.projectId}}成员{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.replications" model.imageList.projectId}}复制{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.labels" model.imageList.projectId}}标签{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.logs" model.imageList.projectId}}日志{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.configs" model.imageList.projectId}}配置管理{{/link-to}}
    </li>
    {{/if}}
  </ul>
</section>
<section>
  <div class="fixed-header-actions row clearfix">
    <div class="pull-left" style="margin-left:10px">
      <h2>{{model.imageInformation.name}}</h2>
    </div>
    <div class="pull-right" style="display: flex;">
      <div class="vertical-middle" style="height: 38px;display:flex;align-items:center">
        <div class="{{unless searchToWormhole 'pull-right'}} search-group input-group">
          {{input value=searchText type="search" class="input-sm pull-right" enter="search" }}
        </div>
      </div>
    </div>
    <div class="pull-right" style="width: 115px;margin-right:10px;">
      {{#basic-dropdown
        horizontalPosition="right"
        as |dd|
      }}
        {{#dd.trigger}}
          <div style="margin-top:6px;height: 30px;display:flex;justify-content:center;align-items:center;margin-right:15px;">
            <span style="margin-left:14px;">推送镜像</span>
            <span style="margin-left:10px;"><i class="icon icon-chevron-down"></i></span>
          </div>
        {{/dd.trigger}}
        {{#dd.content}}
          <div style = "padding:10px 20px;border: 1px solid #ccc;box-shadow: 0 1px 0.125rem rgba(115,115,115,.25);">
            <div style="padding:8px 5px; font-size:18px">推送镜像</div>
            <div style="padding:5px">在项目中标记镜像:</div>
            <div style="padding:5px">{{model.imageInformation.tag}}<span style="margin-left:10px">{{custom-copy-to-clipboard defaultText="" clipboardText=model.imageInformation.tag size="small"}}</span></div>
            <div style="padding:5px">推送镜像到当前项目:</div>
            <div style="padding:5px 5px 8px 5px">{{model.imageInformation.push}}<span style="margin-left:10px">{{custom-copy-to-clipboard clipboardText=model.imageInformation.push size="small"}}</span></div>
          </div>
        {{/dd.content}}
      {{/basic-dropdown}}
    </div>
  </div>
</section>
<section class="instances pt-5 pb-5">
  {{#custom-table
    classNames="grid sortable-table"
    headers=headers
    availableActions=availableActions
    data=model.imageList.data
    search=false
    page=page
    primaryKeyName="id"
    totalCount=model.imageList.totalCount
    remove=(action "promptDelete")
    pageChange=(action "pageChange")
    as |sortable kind row dt|
  }}
  {{#if (eq kind "row")}}
      {{image-row model=row}}
    {{else if (eq kind "nomatch")}}
      <tr>
        <td
          colspan="{{sortable.fullColspan}}"
          class="text-center text-muted lacsso pt-20 pb-20"
        >
          {{t "imageRepoSection.projectsPage.table.noMatch"}}
        </td>
      </tr>
    {{else if (eq kind "norows")}}
      <tr>
        <td
          colspan="{{sortable.fullColspan}}"
          class="text-center text-muted pt-20 pb-20"
        >
          {{t "imageRepoSection.projectsPage.table.noData"}}
        </td>
      </tr>
    {{/if}}

  {{/custom-table}}
</section>
{{#custom-modal-confirm-delete confirm=(action 'confirmDelete') resources=selectedImage modalVisible=showConfirmDeleteModal}}
{{/custom-modal-confirm-delete}}